
#dropdown:hover #dropdownContent{
    display: flex;
    flex-direction: column;
    animation: dropAnim 3s ease-in-out;
};
@keyframes dropAnim {
    0%{transform: rotate(90deg)}
    100%{transform: rotate(40deg)}
}