
#dropdown:hover #dropdownContent{
    display: flex;
    flex-direction: column;
    animation: dropAnim 3s ease-in-out;
};
@keyframes dropAnim {
    0%{
        height: 0px;
    }
    100%{
        height: 50px;
    }
}